<div class="container">
    <!-- PROJECTS LIST -->
    <div class="col-50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h5>Search Results</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item (click)="selectUser(user)"
            *ngFor="let user of users">
            <h5 mat-line>
              {{user.login}}
            </h5>
            <h5 mat-line>
                <a href="{{user.url}}">{{user.url}}</a>
            </h5>
            <h5 mat-line>
                <a href="user.html_url">{{user.html_url}}</a>
            </h5>
            <h5 mat-line>
                <a href="user.repos_url">{{user.repos_url}}</a>
            </h5>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>

