<div class="container">
  <!--SEARCH AREA -->
    <mat-card>
      <div class="col-50">
      <mat-card-header>
        <mat-card-title>
          <h4>Type in a username to begin</h4>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field class="example-full-width">
              <input matInput #userName>
          </mat-form-field>
          <mat-card-actions>
              <button (click)="search(userName.value)" type="submit" mat-button color="primary">Submit</button>
          </mat-card-actions>
      </mat-card-content>
    </div>
    </mat-card>

    <!-- USERS LIST -->
    <div class="col-50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h5>Search Results</h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item (click)="selectUser(user)"
            *ngFor="let user of users">
            <h5 mat-line>
              {{user.login}}
            </h5>
            <h5 mat-line>
                <a href="{{user.url}}">{{user.url}}</a>
            </h5>
            <h5 mat-line>
                <a href="user.html_url">{{user.html_url}}</a>
            </h5>
            <h5 mat-line>
                <a href="user.repos_url">{{user.repos_url}}</a>
            </h5>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      </div>
    </div>

